<app-spinner *ngIf="loading"></app-spinner>

<div class="container">
    <div class="form-container">
        <div class="ttl">            
            <a routerLink="/habitaciones" class="back-button"><i class="fa-solid fa-arrow-left symbol"></i></a>
            <p class="form-title">Actualizar habitación</p>
        </div>
        <form [formGroup]="habitacionForm" (ngSubmit)="update()">
        
            <div class="form-group">
                <label for="nombre" class="txt">Nombre de la habitación</label>
                <input type="text" id="nombre" placeholder="Ingrese un nombre para habitación" formControlName="nombre" class="input">
                <div *ngIf="habitacionForm.controls.nombre.errors?.['required'] && habitacionForm.controls.nombre.touched" class="text-danger">
                        El nombre es requerido
                </div>
                <div *ngIf="habitacionForm.controls.nombre.errors?.['maxlength']" class="text-danger">
                        El nombre debe tener máximo 50 caracteres
                </div>
            </div>
        
            <div class="form-group">
                <label for="status" class="txt">Estado</label>
                <select id="status" formControlName="status" class="input">
                    <option *ngFor="let stat of status" [value]="stat">{{stat}}</option>
                </select>
                <div *ngIf="habitacionForm.controls.status.errors?.['required'] && habitacionForm.controls.status.touched" class="text-danger">
                        El estado es requerido
                </div>
            </div>
        
            <div class="footer">            
                <a [routerLink]="['/habitaciones/habitacion', idString]" class="button left">cancelar</a>
                <button type="submit" [disabled]="!habitacionForm.valid" class="button right">actualizar</button>
            </div>

        </form>
    </div>
</div>