:host {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 17px;
    color: white;
  }
  
.container {
    display: flex;
    justify-content: center;
    height: 91.5%;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    max-width: 100%; /* Ancho máximo de la tabla */
    overflow-x: auto; /* Permitir el desplazamiento horizontal */
}

table {
    max-height: 50px;
    width: 100%;
    border-collapse: collapse;
    color: #ffffff;
    background-color: #8fb2ff;
    overflow-y: auto; /* Permitir el desplazamiento vertical */
}

thead {
    background-color: #4D84FE;
}

th, td {
    padding: 15px;
    border-bottom: 2px solid #ffffff;
    text-align: center;
    vertical-align: middle;
}

th {
    text-align: center;
}

button {
    height: 30px;
    width: 30px;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #3471F3;
    cursor: pointer;
    transition: all 0.3s ease; /* Añadir una transición suave */

}

button:hover {
    transform: scale(1.1); /* Escalar el botón al pasar el cursor encima */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añadir una sombra debajo del botón */
}

.edit{
    margin-right: 5px;
}
.delete{
    margin-left: 5px;
    
}

.edit:hover {
    background-color: #2887c7;
}
.delete:hover {
    background-color: #2887c7;
}
.add:hover {
    background-color: #2887c7;
}