.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 91vh;
}

.table-container {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

table {
    width: 100%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}