.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 91vh;
}

.table-cntnt{
    height: 80%;
}

.table-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

table {
    width: 100%;
    border-spacing: 0 15px;
}

th {
    background-color: #abc2f4;
    padding: 10px;
}

td {
    padding: 10px;
}

.symbol{
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #98b8fd;
    color: white;
    cursor: pointer;
}