<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<div class="modal">
  <div class="modal-content">
    <h2>¿Realmente deseas eliminar esta habitacion?</h2>
    <div class="button-container">
      <button (click)="confirmar()">Sí</button>
      <button (click)="cancelar()">No</button>
    </div>
  </div>
</div>