:host {
    font-family: "Open Sans", sans-serif;
}
.container{
    width: 100%;
    display: flex;
    height: 91.5%;
    background-color: #F8FAFB;
    padding-left: 70px;
    padding-top: 40px;
}

.rooms-container{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 50%;
    height: 100%;
}

.space-nttm{
    margin-bottom: 20px;
}

.activities-container{
    display: flex;
    align-items: center;
    overflow: visible;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
}

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 26px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.cards-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    overflow: visible;
    margin-top: 20px;
    margin-left: 20px;
    
}

.content-container{
    display: flex;
    flex-direction: column;
}

.alerts-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
    width: 90%;
    height: 500px;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.add-element{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 27px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 200;
    width: 80%;
    background-color: #4D84FE;
    color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, transform 0.3s,font-size 0.3s,margin-bottom 0.3s,height 0.3s,border-radius 0.3s;
}

.add-element:hover {
    background-color: rgb(53, 104, 224);
    transform: scale(1.02);
    margin-bottom: 5px;
    height: 27px;
    border-radius: 15px;
    font-size: 16px;
    color: white;
}

.select{
    display: flex;
    align-items: center;
    width: 110px;
    padding-left: 10px;
    margin-top: 6px;
    height: 30px;
    margin-left: 20px;
    background-color: white;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url('data:image/svg+xml;utf8,<svg fill="%237D807F" height="24" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 90px;
    background-position-y: 3px;
    transition: transform 0.3s, background-color 0.3s, color 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.select:focus {
    outline: none;
}

.select:hover {
    background-color: #F8FAFB;
    transform: scale(1.1);
}

.option {
    background-color: white;
}
  
.select option:hover {
    background-color: gray;
    transform: scale(1.1);
}


.habitacion-card {
    background-color: #FFFFFF;
    padding: 20px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 6px;
    width: 270px;
    max-height: 170px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05); 
    transition: transform 0.3s, color 0.3s, background-color 0.1s; 
    flex-shrink: 0;
}

.habitacion-card:hover {
    background-color: #4D83FF;
    transform: scale(1.01);
    color: white; 
    box-shadow: 0px 0px 30px rgba(0, 0, 139, 0.5); 
}

.habitacion-id {
    position: absolute;
    top: 10px;
    right: 10px;
}

.habitacion-nombre {
    text-align: start;
    font-weight: 500;
    margin-top: 20px ;
}

.habitacion-status {
    text-align: start;
    font-weight: 100;
    margin: 15px;
    margin-bottom: 20px;
}
.habitacion-card:hover .btn-container {
    height: 25px;
}
.detalle-btn, .delete-btn {
    opacity: 0;
    transition: opacity 0.3s;
}
.habitacion-card:hover .detalle-btn, .habitacion-card:hover .delete-btn {
    opacity: 1;
}
.btn-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0; 
    overflow: hidden; 
    transition: height 0.3s;
    overflow: visible;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.detalle-btn {
    width: 85%;
    height: 100%;
    border: none;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #709BFF;
    cursor: pointer;

}

.delete-btn {
    width: 15%;
    border: none;
    color: white;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
    background-color: #709BFF;
    cursor: pointer;

}

.detalle-btn, .delete-btn {
    opacity: 0;
    transition: opacity 0.2s, transform 0.5s, background-color 0.3s, margin 0.5s;
}

.habitacion-card:hover .detalle-btn, .habitacion-card:hover .delete-btn {
    opacity: 1;
}

.detalle-btn:hover {
    transform: scale(1.1);
    background-color: #87B0FA; 
    margin-right: 9px;

}

.delete-btn:hover {
    transform: scale(1.1);
    background-color: #a84343; 
    margin-left: 1px;

}

.delete-btn i {
    transition: transform 0.2s; 
}

.delete-btn:hover i {
    transform: scale(1.2); 
}

.notificacion-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    position: relative;

    background-color: #eeeeee;
    border-radius: 10px;
    transition: all 0.3s;
}
.red{
    background-color: #ff4d4d;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    width: 6px;
    height: 100%;
    margin-right: 7px;
}

.data-noti{
    margin-top: 5px;
    margin-bottom: 5px;
}
.notificacion-container:hover{
    scale: 1.03;
    background-color: #e1e1e1;
}

.noti-ttl{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

.noti-data{
    font-size: 15px;
    font-weight: 300;
}

.icon-delt{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 30px;
    height: 100%;
}

.delete-symbol{
    color: rgb(147, 147, 147);
    cursor: pointer;
    margin-right: 15px;
    transition: all 0.3s;
}

.delete-symbol:hover{
    scale: 1.2;
    color: rgb(121, 121, 121);
}