<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<app-spinner *ngIf="loading"></app-spinner>

<div class="container">
    <div class="room">
        <a routerLink="/habitaciones" class="square-0"><i class="fa-solid fa-arrow-left-long"></i><p>Regresar</p></a>
        <div class="square-1">a</div>
        <div class="square-2">
            <button (click)="modificarHabitacion()"><i class="fa-solid fa-pen-to-square txt"></i></button>
            <div *ngIf="habitacion" class="data">
                <p class="number"><i class="fa-solid fa-hashtag symbol txt"></i> Numero: {{habitacion.id}}</p>
                <p class="top"><i class="fa-solid fa-gauge-high txt"></i> Status: {{habitacion.status}}</p>
                <p class="top"><i class="fas fa-sign txt"></i> Nombre: {{habitacion.nombre}}</p>
                <div class="src">
                    <i class="fa-solid fa-hard-drive drv"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="information">   
        <div class="section-1">
            <div class="square-3">a</div>
            <div class="square-4">a</div>
        </div>
        <div class="square-5">a</div>
    </div>
</div>
