.spinner-container {
    position: fixed; /* Hace que el contenedor del spinner se posicione en relación con la ventana del navegador */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(101, 101, 101, 0.5);
    z-index: 9999; 
}
  

.spinner {
    border: 5px solid rgba(54, 54, 54, 0.1);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border-left-color: #09f;
    
    animation: spin 1s linear infinite;
    
    }

    
    

@keyframes spin {
    0% {
    transform: rotate(0deg);
    }
    100%{
    transform: rotate(360deg);
    }
}