<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="dashboard-container">

    <a routerLink="/inquilinos" (click)="verificarRol()"><i class="fa-solid fa-building-user symbol"></i>Inquilinos</a>

    <div class="flex-container" *ngIf="rol_user == '1'">
        <div class="divider" *ngIf="rol_user == '1'"></div>
        <a routerLink="/home" class="home-link" *ngIf="rol_user == '1'" (click)="verificarRol()"><i class="fa-solid fa-users"></i>Usuarios</a>

    </div>

    <button class="logout" (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>    

</div>